html{
  background: linear-gradient(#E1A22B,#E9BB64) no-repeat;
  background-size: cover;
  height: 100%;
}
body{
  font-family: 'Optima' cursive, sans-serif;
  color: #614613;
}
.main{
  margin-top: 13em;
  margin-left: 40%;
}
hr{
position: absolute;
width: 300px;
margin-left: 0em;
margin-top: -0.9em;
height: 1px;
background-color: #4C6154;
border: none;
}
#content{
  margin-left: 0;
}
.btn{
  margin-left: 5em;
  color: #52401e;
}
#result{
  margin-left: 5.2em;
}
